<header class="header">
  <a routerLink="/">
    <img src="assets/images/logo.png" alt="logo" class="logo">
  </a>

  <lib-coffee-shop-library></lib-coffee-shop-library>

  <nav class="navbar">
    <lib-coffee-link routerLink="/home">Home</lib-coffee-link>
    <lib-coffee-link (clicked)="redirectAbout()">About</lib-coffee-link>
    <lib-coffee-link routerLink="/menu">Menu</lib-coffee-link>
    <lib-coffee-link routerLink="/products">Products</lib-coffee-link>
    <lib-coffee-link routerLink="/review">Review</lib-coffee-link>
    <lib-coffee-link routerLink="/contact">Contact</lib-coffee-link>
    <lib-coffee-link routerLink="/blog">Blogs</lib-coffee-link>
  </nav>

  <div class="icons">
    <i *ngIf="route.url === '/menu' || route.url === '/products'" class="fas fa-search"></i>
    <i
      [matBadge]="cartQuantity"
      matBadgeSize="small"
      [matBadgeHidden]="!cartQuantity"
      routerLink="/cart"
      class="fas fa-shopping-cart">
    </i>
    <i (click)="logout()" class="fas fa-arrow-right-from-bracket"></i>
  </div>
</header>
