<header class="header">
  <a routerLink="/">
    <img src="assets/images/logo.png" alt="logo" class="logo">
  </a>

  <nav class="navbar">
    <app-link routerLink="/home">Home</app-link>
    <app-link (click)="redirectAbout()">About</app-link>
    <app-link routerLink="/menu">Menu</app-link>
    <app-link routerLink="/products">Products</app-link>
    <app-link routerLink="/review">Review</app-link>
    <app-link routerLink="/contact">Contact</app-link>
    <app-link routerLink="/blog">Blogs</app-link>
  </nav>

  <div class="icons">
    <i *ngIf="route.url === '/menu' || route.url === '/products'" class="fas fa-search"></i>
    <i class="fas fa-shopping-cart"></i>
    <i (click)="logout()" class="fas fa-arrow-right-from-bracket"></i>
  </div>
</header>
