<div class="product">
  <div class="icons">
    <app-button-border icon="fas fa-shopping-cart"></app-button-border>
    <app-button-border icon="fas fa-heart"></app-button-border>
    <app-button-border icon="fas fa-eye"></app-button-border>
  </div>

  <div class="image">
    <img src="assets/images/product-1.png" alt="product" class="product-image">
  </div>

  <div>
    <h3 class="title">Coffee</h3>
    <app-stars [score]="3.5"></app-stars>
    <div class="price">
      S/15
      <span>S/19</span>
    </div>
  </div>
</div>
