<div class="product">
  <div class="icons">
    <lib-coffee-button-border (click)="emitItemAddCart()" icon="fas fa-shopping-cart"></lib-coffee-button-border>
    <lib-coffee-button-border icon="fas fa-heart"></lib-coffee-button-border>
    <lib-coffee-button-border icon="fas fa-eye"></lib-coffee-button-border>
  </div>

  <div class="image">
    <img [src]="image" alt="product" class="product-image">
  </div>

  <div>
    <h3 class="title">{{ name }}</h3>
    <app-stars [score]="score"></app-stars>
    <div class="price">
      {{ price | currency: 'S/' }}
      <span class="before-price">{{ beforePrice | currency: 'S/' }}</span>
    </div>
  </div>
</div>
