<form class="form" [formGroup]="presenter.contactFormGroup" (ngSubmit)="contactNow()">
  <h3 class="title">GET IN TOUCH</h3>
  <app-input type="text" placeholder="name" icon="fas fa-user" formControlName="name"></app-input>
  <app-control-error
    [show]="presenter.isNameError"
    [errors]="presenter.nameErrors"
    [messages]="presenter.nameErrorMessage">
  </app-control-error>

  <app-input type="email" placeholder="email" icon="fas fa-at" formControlName="email"></app-input>
  <app-control-error
    [show]="presenter.isEmailError"
    [errors]="presenter.emailErrors"
    [messages]="presenter.emailErrorMessage">
  </app-control-error>

  <app-input type="text" placeholder="number" icon="fas fa-phone" formControlName="phone"></app-input>
  <app-control-error
    [show]="presenter.isPhoneError"
    [errors]="presenter.phoneErrors"
    [messages]="presenter.phoneErrorMessage">
  </app-control-error>

  <lib-coffee-button type="submit" [disabled]="presenter.contactFormGroup.invalid">
    <mat-spinner *ngIf="loading else text" diameter="20" color="warn"></mat-spinner>
    <ng-template #text>Contact Now</ng-template>
  </lib-coffee-button>
</form>

