<form class="content" [formGroup]="userRegisterForm" (ngSubmit)="register()">
  <app-title text="register"></app-title>
  <app-input
    placeholder="email"
    type="email"
    icon="fas fa-user"
    formControlName="email">
  </app-input>
  <app-control-error [show]="isEmailError" [errors]="emailErrors" [messages]="emailErrorMessage"></app-control-error>

  <app-input
    placeholder="password"
    type="password"
    icon="fas fa-key" formControlName="password">
  </app-input>
  <app-control-error [show]="isPasswordError" [errors]="passwordErrors" [messages]="passwordErrorMessage"></app-control-error>

  <app-input
    placeholder="repeat password"
    type="password"
    icon="fas fa-key"
    formControlName="repeatPassword">
  </app-input>
  <app-control-error [show]="isRepeatPasswordError" [errors]="repeatPasswordErrors" [messages]="repeatPasswordErrorMessage"></app-control-error>

  <app-control-error [show]="isPasswordsError" [errors]="formErrors" [messages]="formErrorMessage"></app-control-error>

  <app-button [disabled]="userRegisterForm.invalid" type="submit">Save</app-button>
  <button class="fs-2 mt-3 align-self-center" mat-raised-button color="accent" type="button" routerLink="/auth/login">Back</button>
</form>
